
$message-arrow-size: 8px;
$message-height-min: 42px;
$message-padding-v: 10px;
$message-padding-h: 15px;

.message {
  $block: &;
  display: flex;
  flex-direction: row;
  position: relative;
  background: $color-fill-message;
  color: $color-text;
  border-radius: 4px;
  margin: 2px $message-arrow-size 0;

  &__icon {
    position: relative;
    width: 40px;
    border-right: 1px solid #dddddd;

    &:after {
      @include fa-icon();
      position: absolute;
      top: $message-padding-v + 3px;
      left: 50%;
      transform: translate(-50%, 0);
      content: $fa-var-circle-o;
      font-size: 18px;
    }

    &--document:after {
      content: $fa-var-file-text-o;
    }
  }

  &__text {
    display: block;
    padding: $message-padding-v $message-padding-h;
  }

  &--side-other {
    margin-right: 0;
    margin-left: $message-arrow-size;
    background: $color-fill-message-other;
  }

  &:last-child {

    &:before {
      content: '';
      position: absolute;
      bottom: $message-height-min / 2;
      right: -$message-arrow-size;
      transform: translate(0, 50%);
      display: block;
      border-width: $message-arrow-size;
      border-color: transparent;
      border-style: solid;
      border-right-width: 0;
      border-left-color: $color-fill-message;
    }

    &#{$block}--side-other {

      &:before {
        right: auto;
        left: -$message-arrow-size;
        border-left-color: transparent;
        border-left-width: 0;
        border-right-color: $color-fill-message-other;
        border-right-width: $message-arrow-size;
      }
    }
  }
}
