
.app-header {
  padding: 30px;
  border-bottom: 1px solid $color-line-secondary;

  &__brand {
    font-size: 0;
    color: transparent;
    background: url(/assets/svg/logo.svg);
    background-size: 100% auto;
    width: 25px;
    height: 25px;
  }
}
