
.chat-view {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    position: relative;
    flex-grow: 1;
  }

  &__tape {
    padding: 30px 0;
  }

  &__compose {
    flex-shrink: 0;
    border-top: 1px solid $color-line-secondary;
  }

  &__section {
    padding: 13px 0 26px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: $color-text-detail;
  }
}
