
.icon {
  font-size: 1em;
}

.icon-envelope {
  font-size: 0.75em;
}

.icon-facebook-square {
  font-size: 0.9em;
}

.icon-birthday-cake {
  font-size: 0.8em;
}

.icon-building {
  font-size: 0.9em;
}

.icon-fax {
  font-size: 0.85em;
}

.icon-user {
  font-size: 0.95em;
}
