
$color-black: #000000;
$color-white: #ffffff;

$color-ci-gray: #67757D;
$color-ci-blue-light: #CDE9F0;

$color-fill-gray-light: #f5f5f5;

// text
$color-text: #545f66;
$color-text-detail: rgba($color-text, 0.5);

// line
$color-line-primary: rgba(#000000, 0.3);
$color-line-secondary: rgba(#000000, 0.1);

// fill
$color-fill-selected: $color-fill-gray-light;
$color-fill-message: $color-fill-gray-light;
$color-fill-message-other: $color-ci-blue-light;
