
$message-thread-avatar-size: 42px;

.message-thread {
  $block: &;
  display: flex;
  flex-shrink: 0;
  flex-direction: row-reverse;
  padding: 0 8px 13px;

  &__source {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 6px;
  }

  &__avatar {
    position: relative;
    display: block;
    width: $message-thread-avatar-size;
    height: $message-thread-avatar-size;
    border-radius: 50%;
    background: $color-fill-gray-light;
    overflow: hidden;
  }

  &__avatar-img {
    width: 100%;
    height: 100%;
  }

  &__messages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 65%;
  }

  &--side-other {
    flex-direction: row;

    #{$block}__messages {
      align-items: flex-start;
    }
  }
}
